.background-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
}

.pagination-container {
  padding: 10px;
  height: 55vh;
  width: 50vw;
}

.margin-auto {
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.text-center {
  text-align: center;
}

.li-container {
  padding: 5px;
}

.img-icon {
  height: 4rem;
  width: 4rem;
  margin-right: 5px;
  border-radius: 5px;
  background-size: cover;
}

.img-title {
  font-size: 20px;
  font-family: "Roboto";
}

.img-displayed {
  border-radius: 10px;
  background-size: cover;
  height: 33rem;
  width: 25rem;
}

.button {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  border-width: 0px;
  text-align: center;
  padding-left: 10px;
}

.pageNavigator {
  padding-left: 40px;
  margin-top: auto;
  justify-content: center;
}